.header {
    position: fixed;
    width: 100%;
    height: 135px;
    z-index: 4;

    @include media("<=phone") {
        height: 96px;
    }
    .container {
        .row {
            .left {
                .element {
                    font-family: work-sans;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 17px;
                    letter-spacing: 0em;
                    text-align: left;

                    font-size: 15px;
                    display: inline-block;
                    padding-right: 2vw;
                }
            }
            .logo {
                .element {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    svg {
                        padding: 12px;
                        width: 25vw;
                        @include media("<=tablet") {
                            padding: 8px;
                        }
                        @include media("<=phone") {
                            padding: 20px;
                        }
                    }
                }
            }
            .right {
                .element {
                    display: inline-block;
                    padding-left: 2vw;
                    svg {
                        width: 4vw;
                        @include media("<=tablet") {
                            //padding: 8px;
                        }
                        @include media("<=phone") {
                            //padding: 20px;
                        }
                    }
                }
            }
        }
    }
}
